<template>
  <div class="ui placeholder segment">
    <div class="ui two column stackable center aligned grid">
      <div class="ui vertical divider">Or</div>
      <div class="middle aligned row">
        <div class="column">
          <div class="ui icon header">
            <i class="search icon"></i>
            Find Island
          </div>
          <div class="fields">
            <div class="ui fluid two item menu">
              <div class="ui simple dropdown item">
                ${selectedRegionName}
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item" repeat.for="region of regions" click.delegate="updateSelectedRegion(region)">
                    ${region.name}
                  </div>
                </div>
              </div>
              <div class="ui simple dropdown item ${enableIslandsDropdown ? '' : 'disabled'}">
                ${selectedIslandName}
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item" repeat.for="island of islands" click.delegate="updateSelectedIsland(island)">
                    ${island.name}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="world icon"></i>
            Add New Island
          </div>
          <a href="/#/create" class="ui primary button">
            Add POI
          </a>
        </div>
      </div>
    </div>
  </div>
  <div if.bind="selectedIsland" class="ui segment">
    <div class="ui items">
      <div class="item">
        <div class="content">
          <h3 class="ui header"><span>${selectedIsland.name}</span></h3>
          <div class="description">
            <p><span>${selectedIsland.description}</span></p>
          </div>
          <div class="extra">
            <a href="/#/" class="ui right floated button">Edit</a>
            <i class="globe icon"></i>
            <span>Latitude: ${selectedIsland.location.lat}, Longitude: ${selectedIsland.location.lng}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
